<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    Nazwa aplikacji: <b><%= nazwa_aplikacji %></b><br>
    Opis: <b><%= opis_aplikacji %></b></br>
    Autor: <b><%= autor_aplikacji%></b></br>
    Wersja: <b><%= wersja_aplikacji%></b></br>

    <a href="/about/change">Zmien dane</a><br><br>
    <a href="/">Powrót do strony głównej</a>
</body>
</html>
